@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <section>
        <h2 class="index_h2">My project</h2>
        <h1 class="index_h1">Chat</h1>
    </section>
    <div class="logo"></div>
</div>